*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-color: red;
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    
}

input{
    display: flex;
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 30px;
    font-size: 15px;
}

button{
    width: 70%;
    height: 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}